.nadniz {
    display: flex;
    justify-content: space-around;
  
  }
  
  .niz1 {
    padding-right: 25%;
    font-size: 120%;
    margin-top: 1.5%;
    color: #FFFFFF;
  }
  
  .niz2 {
    font-size: 120%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    color: #FFFFFF;
  }
  
  .sm {
    padding-top: 5%;
    color: #FFFFFF66;
    font-size: 70%;
  } 